.lists {
  font-size: smaller;
}
.icon {
  width: auto;
  height: 50px;
  margin-right: 50px;
}
#btn-cart {
  background-color: #212529;
  color: #ffffff8c;
}
#btn-cart:hover {
  color: #fcfcfc;
  text-shadow: 2px 2px 5px orange;
  border-color: orange;
}
.headModal {
  border-top: solid 4px #8b1c0d;
  border-left: solid 4px #8b1c0d;
  border-right: solid 4px #8b1c0d;
}
.bodyModal {
  border-left: solid 4px #8b1c0d;
  border-right: solid 4px #8b1c0d;
}
.footerModal {
  border-bottom: solid 4px#8b1c0d;
  border-left: solid 4px #8b1c0d;
  border-right: solid 4px#8b1c0d;
}
